@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Quran App</h1>
    <p>PLease Navigate to Chapter List Page by Selecting Chapter List Option From Nav bar</p>
    <img src="~/images/QuranBackgroundImage.png" />
</div>
